* {
    box-sizing: border-box;
}

.front_page {
    max-width: 1600px;
    margin: auto;
}

.header {
    font-family: 'Montserrat', Arial, sans-serif;
    color: black;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

.top_navigation ul {
    list-style-type: none;
    text-align: center;
    margin: 12px 18px;
    padding: .7rem, 20px, .7rem, 20px;
    overflow: hidden;
}

.top_navigation li {
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 10px;
    padding: 10px;
    float: left;
}

.top_navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.top_navigation a:hover{
    opacity: 0.5;
}

.top_navigation.active {
    background-color: black;
}

.intro {
    align-content: center;
    font-family: 'Montserrat', Arial, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    display: block;
    margin: 0.83em, 0px, 0.83em, 0px;
}

.maintable {
    table-layout: auto;
}

.myphoto {
    display: block;
    height: auto; 
    width: auto; 
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 10px 75px 10px 75px;
    padding: .7rem, 20px, .7rem, 20px;
    align-self: stretch;
    -webkit-box-align: center;
    align-items: center;
}

.content {
    align-content: center;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    display: block;
    margin: 0.83em, 0px, 0.83em, 0px;
}

p {
    line-height: 32px;
}

.qa {
    font-family: 'Courier New', Courier, monospace;
}

.question {
    color: #777777;
    font-weight: 600;
    font-size: 20px;
}

.answer {
    color: #999999;
    font-weight: 500;
    font-size: 20px;
}

.contact {
    margin: 10px;
    padding: 10px;
}

.email {
    width: 30px;
    height:30px;
}

.linkedin {
    width: 35px;
    height:35px;
}

.github {
    width: 30px;
    height:30px;
}

.facebook {
    width: 30px;
    height:30px;
}

.instagram {
    width: 35px;
    height:35px;
}